# Exercise #4

Step 1. Use the file `us_cities_by_population_2010.csv` to create a data series. Display the data series. The city/state should be the index.

In [33]:
# Step 1 Solution

import pandas as pd
import numpy as np

def to_float_or_nan(x):
    try:
        return float(x.replace(",", "").strip())
    except:
        return np.nan

cities_2010_file_name = "data\\us_cities_by_population_2010.csv"
cities_2010 = pd.read_csv(cities_2010_file_name, index_col=[1,2])

# interesting, good to know, but inefficient
# actual_2010_series = cities_2010["2010 Actual"]

# actual_2010_floats = []

# for actual_2010 in actual_2010_series:
#     actual_2010_floats.append(to_float_or_nan(actual_2010))
    
# cities_2010["2010 Actual"] = actual_2010_floats

cities_2010["2010 Actual"] = cities_2010["2010 Actual"].apply(to_float_or_nan)

# print(cities_2010.index)
print(cities_2010.dtypes)

cities_2010.head()

Rank             int64
2010 Actual    float64
dtype: object

                                  Rank  2010 Actual
City              State
New York City[d]   New York          1    8175133.0
Los Angeles        California        2    3792621.0
Chicago            Illinois          3    2695598.0
Houston[3]         Texas             4    2100263.0
Philadelphia[e]    Pennsylvania      5    1526006.0

Step 2. Use the file `us_cities_by_population_2020.csv` to create a data series. Display the data series. The city/state should be the index.

In [18]:
# Step 2 Solution

cities_2020_file_name = "data\\us_cities_by_population_2020.csv"
cities_2020 = pd.read_csv(cities_2020_file_name, index_col=[1,2])
cities_2020["2020 Estimate"] = cities_2020["2020 Estimate"].apply(to_float_or_nan)

print(cities_2020.index)
cities_2020

MultiIndex([('New York City[d] ',     ' New York '),
            (     'Los Angeles ',   ' California '),
            (         'Chicago ',     ' Illinois '),
            (      'Houston[3] ',        ' Texas '),
            (         'Phoenix ',      ' Arizona '),
            ( 'Philadelphia[e] ', ' Pennsylvania '),
            (     'San Antonio ',        ' Texas '),
            (       'San Diego ',   ' California '),
            (          'Dallas ',        ' Texas '),
            (        'San Jose ',   ' California '),
            ...
            (            'Bend ',       ' Oregon '),
            (      'South Bend ',      ' Indiana '),
            (         'Burbank ',   ' California '),
            (       'Davenport ',         ' Iowa '),
            (          'Carmel ',      ' Indiana '),
            (      'San Angelo ',        ' Texas '),
            (          'Renton ',   ' Washington '),
            (    'Lee's Summit ',     ' Missouri '),
            (       'Vacaville ',   ' California '),
            (           'Vista ',   ' California ')],
           names=['City', 'State'], length=317)

                                Rank   2020 Estimate
City              State
New York City[d]   New York        1   8,253,213.00
Los Angeles        California      2   3,970,219.00
Chicago            Illinois        3   2,677,643.00
Houston[3]         Texas           4   2,316,120.00
Phoenix            Arizona         5   1,708,127.00
...                              ...             ...
San Angelo         Texas         313     101,612.00
Renton             Washington    314     101,494.00
Lee's Summit       Missouri      315     101,467.00
Vacaville          California    316     101,332.00
Vista              California    317     100,636.00

[317 rows x 2 columns]

Step 3. Produce a data frame using the two data series/frames. Display the data frame below.

In [26]:
# Step 3 Solution

# cities_data = pd.DataFrame({
#     "Rank 1": cities_2010["Rank"],
#     "2010 Actual": cities_2010["2010 Actual"],
#     "Rank 2": cities_2020["Rank"],
#     "2020 Estimate": cities_2020["2020 Estimate"],
# })

# cities_2010.columns = ["Rank 1", "2010 Actual"]
# cities_2020.columns = ["Rank 2", "2020 Estimate"]

# del cities_2010["Rank"]
# del cities_2020["Rank"]

# Or drop the column
# cities_2010.drop("Rank", axis=1, inplace=True)
# cities_2020.drop(columns=["Rank"], inplace=True)

cities_data = cities_2010.join(cities_2020)

# cities_data = cities_2010.join(cities_2020, rsuffix=" 2")

cities_data

                                     2010 Actual   2020 Estimate
City              State
New York City[d]   New York        8,175,133.00    8,253,213.00
Los Angeles        California      3,792,621.00    3,970,219.00
Chicago            Illinois        2,695,598.00    2,677,643.00
Houston[3]         Texas           2,100,263.00    2,316,120.00
Philadelphia[e]    Pennsylvania    1,526,006.00    1,578,487.00
...                                          ...             ...
Edinburg           Texas              77,100.00      102,374.00
Bend               Oregon             76,639.00      101,886.00
Meridian           Idaho              75,092.00      121,182.00
Jurupa Valley      California               -        109,745.00
South Fulton       Georgia                  -        102,567.00

[317 rows x 2 columns]

Step 4. Load the 2016 land area for each city from the `us_cities_by_land_area_2016.csv` file. Add the data to data frame.

In [27]:
# Step 4 Solution

cities_2016_land_area_file_name = "data\\us_cities_by_land_area_2016.csv"
cities_2016_land_area_data = pd.read_csv(
    cities_2016_land_area_file_name,
    index_col=[0,1])

cities_2016_land_area_data

cities_data = cities_data.join(cities_2016_land_area_data)

cities_data.head()

,,2010 Actual,2020 Estimate,2016 Land Area (sq mi)
City,State,,,
New York City[d],New York,"8,175,133.00","8,253,213.00",301.5 sq mi
Los Angeles,California,"3,792,621.00","3,970,219.00",468.7 sq mi
Chicago,Illinois,"2,695,598.00","2,677,643.00",227.3 sq mi
Houston[3],Texas,"2,100,263.00","2,316,120.00",637.5 sq mi
Philadelphia[e],Pennsylvania,"1,526,006.00","1,578,487.00",134.2 sq mi

Step 5. Calculate a new column for the percent change in population from 2010 to 2020.

In [29]:
# Step 5 Solution

# cities_data["Population Change"] = (cities_data["2020 Estimate"] - cities_data["2010 Actual"]) / cities_data["2010 Actual"] * 100

cities_data.dtypes

2010 Actual               object
2020 Estimate             object
2016 Land Area (sq mi)    object
dtype: object

Step 6. Calculate two columns for population density for both 2010 and 2020.

In [ ]:
# Step 6 Solution

Step 7. Save the data frame to a CSV.

In [ ]:
# Step 7 Solution

Step 8. Swap the columns and indexes. Save to a CSV.

In [ ]:
# Step 8 Solution